<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    
        <nav th:replace="/fragments/navbar :: nav"></nav>

    <header class="masthead" style="background-image:url('/img/intro-bg.jpg');">
        <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">¡Busca el alojamiento que mas te guste!</h1>
        <h2 class="masthead-subheading mb-0" th:if="${session.usuariosession != null}" th:text="${session.usuariosession.alias}"></h2>
        <h2 class="masthead-subheading mb-0" th:if="${session.usuariosession.id != cliente.usuario.id}" th:text="${session.usuariosession.alias}"> completa tu perfil para alojarte</h2>
        <a th:href="@{/cliente/registrar, accion='cargar-cliente')}" class="btn btn-primary btn-xl rounded-pill mt-5">Terminar de configuar</a>
      </div>
    </div>
    </header>
    <section class="text-center content-section" id="about">
        <div class="container">
            <table class="table table-light table-hover">
                <thead>
                    <tr class="bg-primary"></tr>
                    <th>Pais</th>
                    <th>Ciudad</th>
                    <th>Calle</th>
                    <th>Numero</th>
                    <th>Codigo Postal</th>
                    <th>Disponibilidad (Desde - Hasta)</th>
                    <th>Dias (Minimo - Maximo)</th>
                    <th>Precio</th>
                    <th>Tipo de Vivienda</th>
                    <th th:if="${session.usuariosession != null}" >Acciones</th>
                </thead>
                <tbody>
                    <tr th:each="casa : ${casas}">
                        <td th:text="${casa.pais}"></td>
                        <td th:text="${casa.ciudad}"></td>
                        <td th:text="${casa.calle}"></td>
                        <td th:text="${casa.numero}"></td>
                        <td th:text="${casa.codPostal}"></td>
                        <td th:text="${casa.fechaDesde + ' - ' + casa.fechaHasta}"></td>
                        <td th:text="${casa.minDias + ' - ' + casa.maxDias}"></td>
                        <td th:text="${casa.precio}"></td>
                        <td th:text="${casa.tipoVivienda}"></td>
                        <td class="col">
                            <a th:if="${session.usuariosession == null}" th:href="@{/estancia/reservar-casa(id=__${casa.id}__,accion='Reservar')}">Reservar</a>
                        <!--     <a th:if="${session.adminsession != null}" th:href="@{/libro/editar-libro(id=__${libro.id}__,accion='Eliminar')}">Dar de Baja</a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="text-center download-section content-section" id="download" style="background-image:url('assets/img/downloads-bg.jpg');"></section>
    <section class="text-center content-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>REDES</h2>
                    <p>Síguenos y conoce nuestras ultimas novedades!</p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-instagram fa-fw"></i></button></li>
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-twitter fa-fw"></i></button></li>
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-facebook-f fa-fw"></i><span class="network-name"></span></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="map-clean"></div>
    
<!-- Footer -->
<footer th:replace="/fragments/footer :: footer"></footer>
<!-- Bootstrap core JavaScript -->
 <script th:replace="/fragments/boostjs :: script"></script>


</body>

</html>