<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    
        <nav th:replace="/fragments/navbar :: nav"></nav>

    <header class="masthead" style="background-image:url('/img/intro-bg.jpg');">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">Estancias</h1>
                        
                        <p class="intro-text">Contacta a tu mejor huésped desde la web de ESTANCIAS. Un gran negocio te esta esperando.</p>
                        
                        <a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center content-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>SOBRE ESTANCIAS</h2>
                    <p>Estancias es una modelo que permite vincular un huésped con con un hospedador en cualquier parte del mundo. Ambas partes pueden dialogar y sacar todas sus dudas para garantizar la mejor estadía posible.</p>
                    <p>La combinación de culturas en la niñez estimula el aprendizaje y la adaptación. Envié a su hijo a otra parte del mundo fácilmente.</p>
                    <p></p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center download-section content-section" id="download" style="background-image:url('assets/img/downloads-bg.jpg');"></section>
    <section class="text-center content-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>REDES</h2>
                    <p>Síguenos y conoce nuestras ultimas novedades!</p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-instagram fa-fw"></i></button></li>
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-twitter fa-fw"></i></button></li>
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-facebook-f fa-fw"></i><span class="network-name"></span></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="map-clean"></div>
    
<!-- Footer -->
<footer th:replace="/fragments/footer :: footer"></footer>
<!-- Bootstrap core JavaScript -->
 <script th:replace="/fragments/boostjs :: script"></script>


</body>

</html>